body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Suisse intl', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  box-sizing: border-box;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: $black;
}

.homepage,
.shoppage,
.sign-in-and-sign-up {
  padding: 2.5rem 3.75rem;
}
